.mision {
  .tabs.is-toggle li.is-active a {
    background-color: #4759dd !important;
    border-color: #4759dd;
    color: #fff;
    z-index: 1;
  }
  .title {
    color: #4449f0;
  }
  .subtitle {
    margin-bottom: 0px;
  }
  .card {
    margin-left: 0rem;
  }
  .tab-hide {
    display: none !important;
  }
}
.intereses {
  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .button {
    margin-top: 0px;
  }
  .card_content {
    margin-left: 50px;
  }
  .circulo {
    margin-top: 10px;
  }
}
