.tutorial {
  .tinder-cards {
    &__card {
      height: 70vh;
      background: rgba(0, 0, 0, 0.9);
      box-shadow: 0px 2px 8px rgba(185, 185, 185, 0.5);
      border-radius: 4px;
      color: white;

      .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: center;
        color: #FFFFFF;
      }

      .subtitle {
        text-align: center;
      }

      .card-header {
        height: 20vh;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      .card-content {
        height: 37vh;
      }

      .card-footer {
        border: none;
      }
    }
  }
  ul {
    margin-left: 2em;
    .icon-text {
      top: -1em;
      position: relative;
      left: 0.5em;
    }
  }
}
