.splash {
  background: linear-gradient(349.77deg, #20E2AC 1.61%, #1884F3 51.53%, #542FD7 97.46%);
  box-shadow: 0px 1px 10px rgba(226, 232, 238, 0.8);

  .background.image {
    padding: 2em;
  }

  .hero-head {
    .image {
      background-repeat: repeat-x;
      height: 20vh;
      width: 100%;
    }
  }

  .subtitle {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 0.5em;
    color: white;
    opacity: 0.43;
    position: relative;
  }
}
