.dashboard {
  .navbar-menu {
    background: linear-gradient(
      349.77deg,
      #4449f0 7.61%,
      #fff 51.53%,
      #fff 97.46%
    );
    box-shadow: 0px 1px 10px rgba(226, 232, 238, 0.8);
    // border-radius: 10px;
  }
  .section {
    padding: 4.5rem 1.5rem;
    background: #e5e5e5;
  }
  .has-background-primary {
    background-color: rgba(71, 89, 221, 0.2) !important;
  }
  .has-background-warning {
    background-color: rgba(255, 221, 87, 0.2) !important;
  }
  .has-background-info {
    background-color: rgba(50, 152, 220, 0.2) !important;
  }
  .has-background-danger {
    // background-color: rgba(241, 70, 104, 0.2) !important;
    background-color: rgba(130, 48, 223, 0.2) !important;
  }
  .has-background-laters {
    background-color: rgba(255, 212, 47, 0.2) !important;
  }
  .has-background-no-likes {
    background-color: rgba(237, 7, 34, 0.2) !important;
  }
  .has-background-misiones {
    background-color: rgba(68, 73, 240, 0.2) !important;
  }
  .has-background-categorias {
    background-color: rgba(193, 233, 163, 0.2) !important;
  }
  .navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
    color: #0a0a0a;
  }
  .navbar-link {
    color: #0a0a0a;
  }
  p {
    color: rgba(10, 10, 10, 0.5) !important;
  }

  .card-content {
    background-color: transparent;
    padding: 1.5rem;
    text-align: center;
  }
  .img_card {
    margin-right: 5%;
  }
}
