.onboarding {
  .swiper-container {
    background-color: #fff;
    height: 80vh;
  }

  .swiper-slide {
    align-self: center;
    text-align-last: center;
  }
  .swiper-button-prev {
    visibility: hidden;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    color: #4759dd;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    color: #4759dd;
    visibility: hidden;
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: #4759dd;
  }

  .button {
    margin-top: 00px;
  }
  .button.is-fullwidth {
    width: 99%;
  }
}
