.onboarding {
  .swiper-container {
    background-color: #fff;
    height: 80vh;
  }

  .swiper-slide {
    align-self: center;
    text-align-last: center;
  }

  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    color: #8230df;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    color: #8230df;
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: #8230df;
  }
}
