@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400;700;800&display=swap");
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/grid/all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";




// Set your brand colors
$purple: #4759dd;
$pink: #fa7c91;
$beige-light: #e5e5e5; /// #d0d1cd;
$beige-lighter: #e5e5e5; // #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$family-primary: "Montserrat", sans-serif;
$family-code: "Hind", sans-serif;
$family-secondary: "Hind", sans-serif;
$family-monospace: "Hind", sans-serif;
$grey-dark: #696969;
$grey-light: $beige-light;
$primary: $purple;
$button-color: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

body {
  font-family: $family-secondary;
  color: $purple;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-primary;
    font-weight: bold;
  }

  h1,
  h2,
  h3 {
    color: $black;
  }

  h4,
  h5,
  h6 {
    color: $purple;
  }

  .sbank {
    font-family: "Sen", sans-serif;
    font-size: 2em;
  }
  p {
    color: $black;
  }

  .accordions {
    .card-header-title {
      font-weight: bold;
      color: $purple;
    }
    .card-header-icon {
      color: $grey-dark;
    }
  }
}

.login-modal {
  .are-small {
    margin: 0 auto;
    text-align: center;
    color: $grey-dark;
    font-size: 0.9em;
  }
  strong {
    color: $grey-dark;
  }
}


.tinderCards {
  &__card {
    font-family: Montserrat;
    position: absolute;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-size: cover;
    background: white center;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60vh;

    .title {
      font-style: normal;
      font-weight: bold;
      padding-top: 0;
      p {
        color: #e96d41;
        font-size: 1.8rem;
      }
    }

    .category {
      padding-bottom: 0;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 0.8rem;
    }

    img {
      width: initial;
      margin: 0 auto;
      max-width: 600px;
    }

    &__content {
      padding: 0;
      margin: 0;
    }

    &__image {
      height: 38vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__footer {
      height: 13vh;
    }
  }

  &__cardContainer {
    background: $grey;
    margin-top: 7vh;
  }

  &__swipe {
    position: absolute;
  }
}

.splash {
  position: absolute;
  width: 395px;
  height: 678px;
  left: -12px;
  top: -6px;

  /* Gradiente 2 */

  background: linear-gradient(349.77deg, #20E2AC 1.61%, #1884F3 51.53%, #542FD7 97.46%);
  box-shadow: 0px 1px 10px rgba(226, 232, 238, 0.8);
  border-radius: 10px;

  .background.image {
    padding: 2em;
  }

  .subtitle {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 0.5em;
    color: white;
    opacity: 0.43;
    position: relative;
  }
}


.cursor-pointer {
  cursor: pointer !important;
}

.is-borderless {
  border: none !important;
}

.is-fullheight-with-footer {
  min-height: 88vh !important;
}

.button {
  border-radius: 30px;
  text-align: center;
}

.login {
  .title {

    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    color: #333333;


  }

  .subtitle {
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;

    color: #6F6F6F;


  }

  .is-borderless {
    box-shadow: none;
  }
}
